In [2]:
year=int(input("enter leap year"))
if year % 4==0: or year % 100==0: and year % 400==0:
        print ("leap year")
else:
    print("not a leap year ")

SyntaxError: invalid syntax (<ipython-input-2-4ec5c61e119d>, line 2)

In [10]:
year=int(input("enter leap year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("not a leap year")

enter leap year29
not a leap year

In [11]:
sum=0
for i in range (0,100):
    sum=sum+i
print(sum)

4950

In [5]:
sum=0
i=0
while i<100:
    sum=sum+i
    i+=1
print(sum)

4950

In [2]:
a=0
b=1
series=0
while series<1000:
    series =a+b
    a=b
    b=series
    print(a,end=",")

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [15]:
a= "hello"
reverse=""
for char in a:
    reverse =char+reverse
    print(reverse)

h
eh
leh
lleh
olleh

In [19]:
a=1234
reverse=0
while a>0:
    rem=a % 10
    reverse =reverse * 10 + rem
    a = a // 10
print(reverse)

4321

In [1]:
num=int(input("enter a number"))
a=num
reverse=0
while a>0:
    rem=a % 10
    reverse =reverse * 10 + rem
    a = a // 10
print(reverse)
if num==reverse:
     print (num,"is palindrome")
else:
     print(num, "is not palindrome")

enter a number2555
5552
2555 is not palindrome

In [13]:
num=13
for i in range(1,11):
    print(num, "*", i, "=", num * i)

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [6]:
num=32num=13
for i in range(1,11):
    print(num, "*", i, "=", num * i)

32 * 1 = 32
32 * 2 = 64
32 * 3 = 96
32 * 4 = 128
32 * 5 = 160
32 * 6 = 192
32 * 7 = 224
32 * 8 = 256
32 * 9 = 288
32 * 10 = 320

In [10]:
for num in range (31,41):
    print ("printing table of",num)
    for i in range(1,11,):
        print(num, "*",i, "=", num* i)
    print("")

printing table of 31
31 * 1 = 31
31 * 2 = 62
31 * 3 = 93
31 * 4 = 124
31 * 5 = 155
31 * 6 = 186
31 * 7 = 217
31 * 8 = 248
31 * 9 = 279
31 * 10 = 310

printing table of 32
32 * 1 = 32
32 * 2 = 64
32 * 3 = 96
32 * 4 = 128
32 * 5 = 160
32 * 6 = 192
32 * 7 = 224
32 * 8 = 256
32 * 9 = 288
32 * 10 = 320

printing table of 33
33 * 1 = 33
33 * 2 = 66
33 * 3 = 99
33 * 4 = 132
33 * 5 = 165
33 * 6 = 198
33 * 7 = 231
33 * 8 = 264
33 * 9 = 297
33 * 10 = 330

printing table of 34
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

printing table of 35
35 * 1 = 35
35 * 2 = 70
35 * 3 = 105
35 * 4 = 140
35 * 5 = 175
35 * 6 = 210
35 * 7 = 245
35 * 8 = 280
35 * 9 = 315
35 * 10 = 350

printing table of 36
36 * 1 = 36
36 * 2 = 72
36 * 3 = 108
36 * 4 = 144
36 * 5 = 180
36 * 6 = 216
36 * 7 = 252
36 * 8 = 288
36 * 9 = 324
36 * 10 = 360

printing table of 37
37 * 1 = 37
37 * 2 = 74
37 * 3 = 111
37 * 4 = 148
37 * 5 = 185
37 * 6 = 222
37 * 7 = 259
37 * 8 = 296
37 * 9 = 333
37 * 10 = 370

printing table of 38
38 * 1 = 38
38 * 2 = 76
38 * 3 = 114
38 * 4 = 152
38 * 5 = 190
38 * 6 = 228
38 * 7 = 266
38 * 8 = 304
38 * 9 = 342
38 * 10 = 380

printing table of 39
39 * 1 = 39
39 * 2 = 78
39 * 3 = 117
39 * 4 = 156
39 * 5 = 195
39 * 6 = 234
39 * 7 = 273
39 * 8 = 312
39 * 9 = 351
39 * 10 = 390

printing table of 40
40 * 1 = 40
40 * 2 = 80
40 * 3 = 120
40 * 4 = 160
40 * 5 = 200
40 * 6 = 240
40 * 7 = 280
40 * 8 = 320
40 * 9 = 360
40 * 10 = 400

In [7]:
for num in range (1,30):
    print (" cube of ",num,"=", num ** 3)

 cube of  1 = 1
 cube of  2 = 8
 cube of  3 = 27
 cube of  4 = 64
 cube of  5 = 125
 cube of  6 = 216
 cube of  7 = 343
 cube of  8 = 512
 cube of  9 = 729
 cube of  10 = 1000
 cube of  11 = 1331
 cube of  12 = 1728
 cube of  13 = 2197
 cube of  14 = 2744
 cube of  15 = 3375
 cube of  16 = 4096
 cube of  17 = 4913
 cube of  18 = 5832
 cube of  19 = 6859
 cube of  20 = 8000
 cube of  21 = 9261
 cube of  22 = 10648
 cube of  23 = 12167
 cube of  24 = 13824
 cube of  25 = 15625
 cube of  26 = 17576
 cube of  27 = 19683
 cube of  28 = 21952
 cube of  29 = 24389

In [18]:
print("first 100 number even number are :")
for i in range(100):
        print (i*2,end=",")

first 100 number even number are :
0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,

In [19]:
print("first 20 number divisable by 7 are :")
for i in range(20):
        print (i*7,end=",")

first 20 number divisable by 7 are :
0,7,14,21,28,35,42,49,56,63,70,77,84,91,98,105,112,119,126,133,

In [2]:
a=0
b=1
series=0
while series<101:
    series=b+1
    a=b
    b=series
    print(a,end="")

123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [3]:
for num in range (100):
    status=True
    for i in range(2,num):
        if num % i == 0:
            status = False
            break
    if status:
        print(num, end=",")

0,1,2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [1]:
num=15
status=True
for i in range(2,num):
    if num % i == 0:
        print(num, "is not prime")
        status=False
        break
if status:
    print(num,"is prime")

15 is not prime

In [11]:
a,b,c,d,e,f=12,13,35,56,67,78

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

12
13
35
56
67
78

In [4]:
a=12,12,24,45

print(a)

(12, 12, 24, 45)

In [7]:
a = 12, "hwllo","abd",45
print(a)

(12, 'hwllo', 'abd', 45)

In [9]:
a= (12,34,56,68,89,23,34,12,45)
a2=12,34,56,68,89,23,34,12,45
a3=tuple(range(2, 100, 5))
print(type(a))
print(type(a2))

<class 'tuple'>
<class 'tuple'>

In [10]:
a= (12,34,56,68,89,23,34,12,45)
a2=12,34,56,68,89,23,34,12,45
a3=tuple(range(2,100,5))
print(a)
print(a2)
print(a3)

(12, 34, 56, 68, 89, 23, 34, 12, 45)
(12, 34, 56, 68, 89, 23, 34, 12, 45)
(2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97)

In [11]:
a= (12,34,56,68,89,23,34,12,45)
print(a[1])
print(a[7])
print(a[8])
print(a[])

34
12
45

IndexError: tuple index out of range

In [12]:
a= (12,34,56,68,89,23,34,12,45)
print(a[1])
print(a[7])
print(a[8])
print(a[-1])
print(a[-7])
print(a[-8])

34
12
45
45
56
34

In [13]:
a= (12,34,56,68,89,23,34,12,45)
print(len((a)))

9

In [14]:
a= (12,34,56,68,89,23,34,12,45)
for i in range(len(a)):
    print(a[i])

12
34
56
68
89
23
34
12
45

In [15]:
a= (12,34,56,68,89,23,34,12,45)
for i in range(len(a)):
    print(a[i])

for element in a:
        print(element,end=",")

12
34
56
68
89
23
34
12
45
12,34,56,68,89,23,34,12,45,

In [16]:
a= (12,34,56,68,89,23,34,12,45)

print(a[2:4])

(56, 68)

In [18]:
a= (12,34,56,68,89,23,34,12,45)
print(a[2:4])
print(a[:4])
print(a[2:])

(56, 68)
(12, 34, 56, 68)
(56, 68, 89, 23, 34, 12, 45)

In [25]:
a= (12,34,56,68,89,23,34,12,45)
print("1.",a[2:4])
print("2.",a[:4])
print("3.",a[2:])
print("4.",a[-2:-4:-1])
print("5.",a[:-4:-1])
print("6.",a[-2:])

1. (56, 68)
2. (12, 34, 56, 68)
3. (56, 68, 89, 23, 34, 12, 45)
4. (12, 34)
5. (45, 12, 34)
6. (12, 45)

In [31]:
a= (12,34,56,68,89,23,34,12,45)
print(a.count(12))
print(a.index(45))
print(a.index(12))
for i in range (len(a)):
    if a[i]==12:
        print(i,end =",")

2
8
0
0,7,

In [35]:
a= (12,34,56,68,89,23,34,12,45)

print(a.count(12))
print(a.count(45))
print(a.index(12, ))

index=0
for i in range (a.count(12)):
    index=a.index(12, index)
    print(index,end =",")
    index= index+1

2
1
0
0,7,

In [2]:
a= (12,34,56,68,89,23,34,12,45)

print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(sorted(a, reverse=True))

373
89
12
[12, 12, 23, 34, 34, 45, 56, 68, 89]
[89, 68, 56, 45, 34, 34, 23, 12, 12]

In [7]:
a=((12,34,56),
    (68,89,23),
    (34,12,45))
print(a[2][2])
print(a[1][2])
print(a[1][1])
print(a[2][1])

45
23
89
12

In [8]:
a=((12,34,56),
    (68,89,23),
    (34,12,45))
for row in a:
    for i in row:
        print(i)

12
34
56
68
89
23
34
12
45

In [10]:
a=(12,34,56,68,89,23,34,12,45)
print(a[::-1])

(45, 12, 34, 23, 89, 68, 56, 34, 12)

In [13]:
a=(12,34,56,68,89,23,34,12,45)
t=[i*3 for i in a]
print(t)

[36, 102, 168, 204, 267, 69, 102, 36, 135]